# INTRODUCTION
Karamoja is the most food-insecure region of Uganda. One of the main reasons is the low productivity level of the crops due to intense droughts as well as pest and disease outbreaks. 

Several NGOs provide technical support as well as farm inputs to the farmers experiencing extremely low yield. 

In this report, we have visualized the overall state of the region yield to support the decision making of one of those NGOs active in Karamoja.

# OBJECTIVES
This Presentation contains interactive visualization tool of the results for this first crop season for use as a Food Security Monitoring tool.
We shall have a look at 3 major visuals:
* Crop yield variation across different districts.
* Relationship between population and total crop production.
* Districts with the largest and smallest crop areas.

In [19]:
import pandas as pd
pd.set_option("display.max_columns", None) # Display all columns
pd.set_option("display.max_rows", None) # Display all rows
pd.set_option("display.max_colwidth", None) # Display all data in a column
pd.set_option("display.float_format", "{:.2f}".format) # set float to 2 decimal places

Karamoja is a region in Uganda covering an area of 27,528km and comprises the Kotido District, Kaabong District, Karenga District, Nabilatuk District, Abim District, Moroto District, Napak District, Amudat District and Nakapiripirit District.


Our research will focus on the following districts; KOTIDO, KAABONG, ABIM, AMUDAT, MOROTO, NAKAPIRIPIRIT, NAPAK 
Karamoja - Location

In [52]:
# Import Uganda_Karamoja_District_Crop_Yield_Population.csv
df1 = pd.read_csv("D:/MY FOLDER/moringa/DATA/TABLES/Uganda_Karamoja_District_Crop_Yield_Population.csv", index_col=0) 
df1

,NAME,POP,Area,S_Yield_Ha,M_Yield_Ha,Crop_Area_Ha,S_Area_Ha,M_Area_Ha,S_Prod_Tot,M_Prod_Tot
OBJECTID,,,,,,,,,,
92,ABIM,90385,2771977106,449,1040,5470.07,3277.30,1848.62,1471506,1922567
96,AMUDAT,101790,1643582836,205,1297,5765.44,2973.42,2733.66,609552,3545558
20,KAABONG,627057,7373606003,279,945,28121.67,20544.19,7394.42,5731830,6987723
85,KOTIDO,243157,3641539808,331,1148,53032.65,50247.44,1751.37,16631904,2010575
5,MOROTO,127811,3570160948,128,355,5954.81,4741.75,1190.05,606944,422468
54,NAKAPIRIPIRIT,146780,4216323900,356,1264,26372.70,19237.33,6425.79,6848491,8122197
80,NAPAK,167625,4508782023,137,854,22944.30,16142.02,6543.72,2211456,5588336

In [53]:
# Import Uganda_Karamoja_Subcounty_Crop_Yield_Population.csv
df2 = pd.read_csv("D:/MY FOLDER/moringa/DATA/TABLES/Uganda_Karamoja_Subcounty_Crop_Yield_Population.csv", index_col=0)
df2.head()

,SUBCOUNTY_NAME,DISTRICT_NAME,POP,Area,Karamoja,S_Yield_Ha,M_Yield_Ha,Crop_Area_Ha,S_Area_Ha,M_Area_Ha,S_Prod_Tot,M_Prod_Tot
OBJECTID,,,,,,,,,,,,
263,KACHERI,KOTIDO,17244,1067176155,Y,354.21,1137.47,7023.53,6434.34,528.12,2279091.78,600723.89
264,KOTIDO,KOTIDO,52771,597575188,Y,367.89,1163.00,13587.99,12455.59,824.77,4582294.49,959201.38
265,KOTIDO TOWN COUNCIL,KOTIDO,27389,23972401,Y,369.31,1167.01,1656.53,1520.32,8.56,561476.49,9991.49
266,NAKAPERIMORU,KOTIDO,38775,419111591,Y,283.32,852.37,7087.82,6761.49,45.72,1915695.93,38971.66
267,PANYANGARA,KOTIDO,65704,880955930,Y,373.84,1283.86,10398.25,10111.20,172.61,3779939.22,221609.51

Display columns in df1

In [54]:
df1.columns

Index(['NAME', 'POP', 'Area', 'S_Yield_Ha', 'M_Yield_Ha', 'Crop_Area_Ha',
       'S_Area_Ha', 'M_Area_Ha', 'S_Prod_Tot', 'M_Prod_Tot'],
      dtype='object')

Display columns in df2

In [55]:
df2.columns

Index(['SUBCOUNTY_NAME', 'DISTRICT_NAME', 'POP', 'Area', 'Karamoja',
       'S_Yield_Ha', 'M_Yield_Ha', 'Crop_Area_Ha', 'S_Area_Ha', 'M_Area_Ha',
       'S_Prod_Tot', 'M_Prod_Tot'],
      dtype='object')

Create a column for total Yield in Ha

In [56]:
df1['Total_Yield'] = df1['S_Yield_Ha'] + df1['M_Yield_Ha']
df1.head()

,NAME,POP,Area,S_Yield_Ha,M_Yield_Ha,Crop_Area_Ha,S_Area_Ha,M_Area_Ha,S_Prod_Tot,M_Prod_Tot,Total_Yield
OBJECTID,,,,,,,,,,,
92,ABIM,90385,2771977106,449,1040,5470.07,3277.30,1848.62,1471506,1922567,1489
96,AMUDAT,101790,1643582836,205,1297,5765.44,2973.42,2733.66,609552,3545558,1502
20,KAABONG,627057,7373606003,279,945,28121.67,20544.19,7394.42,5731830,6987723,1224
85,KOTIDO,243157,3641539808,331,1148,53032.65,50247.44,1751.37,16631904,2010575,1479
5,MOROTO,127811,3570160948,128,355,5954.81,4741.75,1190.05,606944,422468,483

Create a column for total Production of both sorghum and maize

In [57]:
df1['Total_Production'] = df1['S_Prod_Tot'] + df1['M_Prod_Tot']
df1.head()

,NAME,POP,Area,S_Yield_Ha,M_Yield_Ha,Crop_Area_Ha,S_Area_Ha,M_Area_Ha,S_Prod_Tot,M_Prod_Tot,Total_Yield,Total_Production
OBJECTID,,,,,,,,,,,,
92,ABIM,90385,2771977106,449,1040,5470.07,3277.30,1848.62,1471506,1922567,1489,3394073
96,AMUDAT,101790,1643582836,205,1297,5765.44,2973.42,2733.66,609552,3545558,1502,4155110
20,KAABONG,627057,7373606003,279,945,28121.67,20544.19,7394.42,5731830,6987723,1224,12719553
85,KOTIDO,243157,3641539808,331,1148,53032.65,50247.44,1751.37,16631904,2010575,1479,18642479
5,MOROTO,127811,3570160948,128,355,5954.81,4741.75,1190.05,606944,422468,483,1029412

Create a column for total Area in Ha

In [58]:
df1['Total_Area_Ha'] = df1['S_Area_Ha'] + df1['M_Area_Ha']
df1

,NAME,POP,Area,S_Yield_Ha,M_Yield_Ha,Crop_Area_Ha,S_Area_Ha,M_Area_Ha,S_Prod_Tot,M_Prod_Tot,Total_Yield,Total_Production,Total_Area_Ha
OBJECTID,,,,,,,,,,,,,
92,ABIM,90385,2771977106,449,1040,5470.07,3277.30,1848.62,1471506,1922567,1489,3394073,5125.92
96,AMUDAT,101790,1643582836,205,1297,5765.44,2973.42,2733.66,609552,3545558,1502,4155110,5707.08
20,KAABONG,627057,7373606003,279,945,28121.67,20544.19,7394.42,5731830,6987723,1224,12719553,27938.61
85,KOTIDO,243157,3641539808,331,1148,53032.65,50247.44,1751.37,16631904,2010575,1479,18642479,51998.82
5,MOROTO,127811,3570160948,128,355,5954.81,4741.75,1190.05,606944,422468,483,1029412,5931.80
54,NAKAPIRIPIRIT,146780,4216323900,356,1264,26372.70,19237.33,6425.79,6848491,8122197,1620,14970688,25663.12
80,NAPAK,167625,4508782023,137,854,22944.30,16142.02,6543.72,2211456,5588336,991,7799792,22685.73

In [60]:
df1.to_csv("Cleaned_Uganda_Karamoja_District_Crop_Yield_Population.csv", index=False)

# RECOMMENDATIONS
In our findings, we note that Maize has higher yield in Ha therefore it is recommended to concentrate on maize production.
Kotido has a large crop area due to lower population as compared to Kaabong but this does not necessarily mean smaller population equate bigger crop area as we can see in Moroto therefore need to check other factors that contribute to this problem.
High risk areas would be Kaabong  and Napak duel to High population with low yield.
* Visualization link: https://public.tableau.com/shared/XGMTY4GGC?:display_count=n&:origin=viz_share_link

# CONCLUSION
This visualizations provide clear overview of Karamoja's crop yield and total production of the 2 crops based on various factors. 
By analyzing crop yields, crop production and geographical crop areas, we gain insight districts facing potential food shortages. The findings also shows impacts of population size and total crop production for use during offering priority to most affected areas.

These visualizations will help in making informed decision and identifying high priority areas in an effort to improve food security in Karamoja.

------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------

# Project 2: More Data, More Visualizations

For this project, the students will:
* find a data set of their choosing
* get approval from the instructor to use that data set
* upon approval, find another (related) data set
* join the new data set with the original one to create an "enriched" data set
* perform an open-ended Exploratory Data Analysis (EDA) on the enriched data set

Regarding the last bullet, "open-ended" means the student chooses the EDA that is performed. The student should have at least three types of data analysis (e.g., mean, standard deviation) and at least three types of graphs (e.g., historgram, bar graph). The student will explain why those variables were chosen for numerical or graphical analysis. Finally, the student will make note of any unusual values for any variable that is analyzed.